  .boton{
    background-color: #ed6573;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
  }




    .bot{
      background: #f2f2f2;
      width: 600px;
      height:400px;
      margin: 20px;
      border-radius: 20px;
      height: 520px;

    }

    .table{
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ed6573;
      border-radius: 4px;
    }

    .columna{
      border-bottom: 1px solid #ed6573;
      border-radius: 4px;
      text-align: center;
    }

    .table th{
      padding: 10px;
      word-wrap: break-word
    }
    
    .tabla {
        background: #f2f2f2;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        
        box-sizing: border-box;
        padding: 20px;
      height: 520px;
      width: 600px;

        margin: 20px;
      }
      
      .title {
        color: #ed6573;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 600;
        margin-top: 30px;
      }
      
      .cont{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ed6573;
      }
      
      @media(max-width: 767px){
        .tabla {
         
        width: 332px;

        }
        
      }

      @media(max-width: 332px){
        .tabla {
         
        width: 250px;

        }
        
      }