@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: 'Rubik', sans-serif; */
	font-family: 'Quicksand', sans-serif;	
	font-weight: 300;
	
}

.heading{
	font-size: 27px;
	font-weight: 300;
	
}



body {
	background: #f2f2f2;
	/* background: #1c1b1b; */
    font-family: 'Readex Pro', sans-serif;
	color: #1c1b1b;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 15vh;
	padding-top: 20vh;
	font-size: 36px;
	text-transform: uppercase;
}

.titulo{
	color: #ed6573;
	position: relative;
	font-size: 45PX;
	margin-bottom: 40px;
}
.titulo::after{
	content: " ";
	position: absolute;
	width: 50%;
	height: 4px;
	left: 50%;
	bottom: -5px;
	background-image: linear-gradient(to right, #ed6573, #3587e5);
	transform: translateX(-50%);
}
.span{
	color: #518fdb;
}
.container {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container::after {
	content: "";
	width: 2px;
	height: 100%;
	background: #033734;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.cargando{
	display: flex;
	justify-content: center;
	color: #ed6573;
}

	